<h1><%=t('refinery.members.shared.organization')%></h1>
<div class="control-group">
  <%= f.label :organization, class: "control-label" %>
  <div class="controls"><%= f.text_field :organization %>&nbsp;</div>
</div>
<div class="control-group">
  <%= f.label :street_address, class: "control-label" %>
  <div class="controls"><%= f.text_field :street_address %>&nbsp;</div>
</div>
<div class="control-group">
  <%= f.label :city, class: "control-label" %>
  <div class="controls"><%= f.text_field :city %>&nbsp;</div>
</div>
<div class="control-group">
  <%= f.label :province, t('members.form.state_province', :scope => 'refinery.memberships'), class: "control-label" %>
  <div class="controls"><%= f.text_field :province %></div>
</div>
<div class="control-group">
  <%= f.label :postal_code, t('members.form.postal_code', :scope => 'refinery.memberships'), class: "control-label" %>
  <div class="controls"><%= f.text_field :postal_code %></div>
</div>
<div class="control-group">
  <%= f.label :website, class: "control-label" %>
  <div class="controls"><%= f.text_field :website %>&nbsp;</div>
</div>
