<h1><%=t('refinery.members.shared.account')%></h1>
<div class="control-group">
  <%= f.required_label :email, class: "control-label" %>
  <div class="controls"><%= f.text_field :email %></div>
</div>
<div class="control-group">
  <%= f.required_label :password, class: "control-label" %>
  <div class="controls">
    <%= f.password_field :password, :autocomplete => 'off' %>
    <%= "<span class='help-inline'>#{t('members.form.blank_password_keeps_current', :scope => 'refinery.memberships')}</span>".html_safe if @member.persisted? %>
  </div>
</div>
<div class="control-group">
  <%= f.required_label :password_confirmation, class: "control-label" %>
  <div class="controls"><%= f.password_field :password_confirmation, :autocomplete => 'off' %></div>
</div>
