<% content_for :body_content_left do %>
    <%= render 'message' %>
  <%=raw @page.content_for(:body_above) if @page %>
  <%=raw @page.content_for(:body) if @page %>
  <div id="member">
    <dl class="dl-horizontal">
      <% def_list_items(@member.attributes) do |label, value| %>
        <dt><%= @member.class.human_attribute_name label %></dt>
        <dd><%= value %></dd>
      <% end -%>
    </dl>
  </div>
  <%= link_to t('.edit_profile'), edit_members_path %>
  <%=raw @page.content_for(:body_below) if @page %>
<% end %>

<%= render "/refinery/content_page", :hide_sections => [:bodybelow, :bodyabove] %>
